server {

  server_name {{ ansible_hostname }};
  listen 80;

  server_name_in_redirect on;
  port_in_redirect on;
 
  location / {
    return 301 $scheme://$server_name/jenkins;
  }

  {% for item in list %}
{% include item %}
  {% endfor %}

}
